# clangd

InlayHints:
  Enabled: Yes
  ParameterNames: No
  DeducedTypes: No

CompileFlags:
  Add:
    - "-Wno-undefined-inline"
    - "-I.deps/rexo/include"
    - "-Isrc"
  Compiler: clang

Diagnostics:
  Suppress:
    - clangdunused-includes
