[submodule ".deps/rexo"]
	path = .deps/rexo
	url = https://github.com/default-writer/rexo.git
[submodule "workspace/.deps/rexo"]
	path = workspace/.deps/rexo
	url = https://github.com/default-writer/rexo.git
