# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
chud.log

# Directories
node_modules
vcpkg
bazel*
dump.txt
Makefile
lcov.info
report
.cache
.history
.trunk
.venv
.args
build
clangd
cmake
config
coverage
logs
out
**/*.c.s
**/*.gcda
**/*.gcno
**/*.s
**/*.i
**/*.o
**/*.
**/*tests/*.
src/rexo
gh
.~*
callgrind.out.*
wget-log*
cmake-3.25
cmake-3.25/**/*
.tools/LICENSE.TXT
.tools/bin/ccmake
.tools/bin/cmake-gui
.tools/bin/cpack
.tools/bin/ctest
.tools/lib/clang/15.0.6/include/__clang_cuda_builtin_vars.h
.tools/lib/clang/15.0.6/include/__clang_cuda_cmath.h
.tools/lib/clang/15.0.6/include/__clang_cuda_complex_builtins.h
.tools/lib/clang/15.0.6/include/__clang_cuda_device_functions.h
.tools/lib/clang/15.0.6/include/__clang_cuda_intrinsics.h
.tools/lib/clang/15.0.6/include/__clang_cuda_libdevice_declares.h
.tools/lib/clang/15.0.6/include/__clang_cuda_math_forward_declares.h
.tools/lib/clang/15.0.6/include/__clang_cuda_math.h
.tools/lib/clang/15.0.6/include/__clang_cuda_runtime_wrapper.h
.tools/lib/clang/15.0.6/include/__clang_cuda_texture_intrinsics.h
.tools/lib/clang/15.0.6/include/__clang_hip_cmath.h
.tools/lib/clang/15.0.6/include/__clang_hip_libdevice_declares.h
.tools/lib/clang/15.0.6/include/__clang_hip_math.h
.tools/lib/clang/15.0.6/include/__clang_hip_runtime_wrapper.h
.tools/lib/clang/15.0.6/include/__stddef_max_align_t.h
.tools/lib/clang/15.0.6/include/__wmmintrin_aes.h
.tools/lib/clang/15.0.6/include/__wmmintrin_pclmul.h
.tools/lib/clang/15.0.6/include/adxintrin.h
.tools/lib/clang/15.0.6/include/altivec.h
.tools/lib/clang/15.0.6/include/ammintrin.h
.tools/lib/clang/15.0.6/include/amxintrin.h
.tools/lib/clang/15.0.6/include/arm_acle.h
.tools/lib/clang/15.0.6/include/arm_bf16.h
.tools/lib/clang/15.0.6/include/arm_cde.h
.tools/lib/clang/15.0.6/include/arm_cmse.h
.tools/lib/clang/15.0.6/include/arm_fp16.h
.tools/lib/clang/15.0.6/include/arm_mve.h
.tools/lib/clang/15.0.6/include/arm_neon_sve_bridge.h
.tools/lib/clang/15.0.6/include/arm_neon.h
.tools/lib/clang/15.0.6/include/arm_sve.h
.tools/lib/clang/15.0.6/include/arm64intr.h
.tools/lib/clang/15.0.6/include/armintr.h
.tools/lib/clang/15.0.6/include/avx2intrin.h
.tools/lib/clang/15.0.6/include/avx512bf16intrin.h
.tools/lib/clang/15.0.6/include/avx512bitalgintrin.h
.tools/lib/clang/15.0.6/include/avx512bwintrin.h
.tools/lib/clang/15.0.6/include/avx512cdintrin.h
.tools/lib/clang/15.0.6/include/avx512dqintrin.h
.tools/lib/clang/15.0.6/include/avx512erintrin.h
.tools/lib/clang/15.0.6/include/avx512fintrin.h
.tools/lib/clang/15.0.6/include/avx512fp16intrin.h
.tools/lib/clang/15.0.6/include/avx512ifmaintrin.h
.tools/lib/clang/15.0.6/include/avx512ifmavlintrin.h
.tools/lib/clang/15.0.6/include/avx512pfintrin.h
.tools/lib/clang/15.0.6/include/avx512vbmi2intrin.h
.tools/lib/clang/15.0.6/include/avx512vbmiintrin.h
.tools/lib/clang/15.0.6/include/avx512vbmivlintrin.h
.tools/lib/clang/15.0.6/include/avx512vlbf16intrin.h
.tools/lib/clang/15.0.6/include/avx512vlbitalgintrin.h
.tools/lib/clang/15.0.6/include/avx512vlbwintrin.h
.tools/lib/clang/15.0.6/include/avx512vlcdintrin.h
.tools/lib/clang/15.0.6/include/avx512vldqintrin.h
.tools/lib/clang/15.0.6/include/avx512vlfp16intrin.h
.tools/lib/clang/15.0.6/include/avx512vlintrin.h
.tools/lib/clang/15.0.6/include/avx512vlvbmi2intrin.h
.tools/lib/clang/15.0.6/include/avx512vlvnniintrin.h
.tools/lib/clang/15.0.6/include/avx512vlvp2intersectintrin.h
.tools/lib/clang/15.0.6/include/avx512vnniintrin.h
.tools/lib/clang/15.0.6/include/avx512vp2intersectintrin.h
.tools/lib/clang/15.0.6/include/avx512vpopcntdqintrin.h
.tools/lib/clang/15.0.6/include/avx512vpopcntdqvlintrin.h
.tools/lib/clang/15.0.6/include/avxintrin.h
.tools/lib/clang/15.0.6/include/avxvnniintrin.h
.tools/lib/clang/15.0.6/include/bmi2intrin.h
.tools/lib/clang/15.0.6/include/bmiintrin.h
.tools/lib/clang/15.0.6/include/builtins.h
.tools/lib/clang/15.0.6/include/cet.h
.tools/lib/clang/15.0.6/include/cetintrin.h
.tools/lib/clang/15.0.6/include/cldemoteintrin.h
.tools/lib/clang/15.0.6/include/clflushoptintrin.h
.tools/lib/clang/15.0.6/include/clwbintrin.h
.tools/lib/clang/15.0.6/include/clzerointrin.h
.tools/lib/clang/15.0.6/include/cpuid.h
.tools/lib/clang/15.0.6/include/crc32intrin.h
.tools/lib/clang/15.0.6/include/emmintrin.h
.tools/lib/clang/15.0.6/include/enqcmdintrin.h
.tools/lib/clang/15.0.6/include/f16cintrin.h
.tools/lib/clang/15.0.6/include/float.h
.tools/lib/clang/15.0.6/include/fma4intrin.h
.tools/lib/clang/15.0.6/include/fmaintrin.h
.tools/lib/clang/15.0.6/include/fxsrintrin.h
.tools/lib/clang/15.0.6/include/gfniintrin.h
.tools/lib/clang/15.0.6/include/hexagon_circ_brev_intrinsics.h
.tools/lib/clang/15.0.6/include/hexagon_protos.h
.tools/lib/clang/15.0.6/include/hexagon_types.h
.tools/lib/clang/15.0.6/include/hlsl.h
.tools/lib/clang/15.0.6/include/hresetintrin.h
.tools/lib/clang/15.0.6/include/htmintrin.h
.tools/lib/clang/15.0.6/include/htmxlintrin.h
.tools/lib/clang/15.0.6/include/hvx_hexagon_protos.h
.tools/lib/clang/15.0.6/include/ia32intrin.h
.tools/lib/clang/15.0.6/include/immintrin.h
.tools/lib/clang/15.0.6/include/intrin.h
.tools/lib/clang/15.0.6/include/inttypes.h
.tools/lib/clang/15.0.6/include/invpcidintrin.h
.tools/lib/clang/15.0.6/include/iso646.h
.tools/lib/clang/15.0.6/include/keylockerintrin.h
.tools/lib/clang/15.0.6/include/limits.h
.tools/lib/clang/15.0.6/include/lwpintrin.h
.tools/lib/clang/15.0.6/include/lzcntintrin.h
.tools/lib/clang/15.0.6/include/mm_malloc.h
.tools/lib/clang/15.0.6/include/mm3dnow.h
.tools/lib/clang/15.0.6/include/mmintrin.h
.tools/lib/clang/15.0.6/include/module.modulemap
.tools/lib/clang/15.0.6/include/movdirintrin.h
.tools/lib/clang/15.0.6/include/msa.h
.tools/lib/clang/15.0.6/include/mwaitxintrin.h
.tools/lib/clang/15.0.6/include/nmmintrin.h
.tools/lib/clang/15.0.6/include/omp-tools.h
.tools/lib/clang/15.0.6/include/omp.h
.tools/lib/clang/15.0.6/include/opencl-c-base.h
.tools/lib/clang/15.0.6/include/opencl-c.h
.tools/lib/clang/15.0.6/include/pconfigintrin.h
.tools/lib/clang/15.0.6/include/pkuintrin.h
.tools/lib/clang/15.0.6/include/pmmintrin.h
.tools/lib/clang/15.0.6/include/popcntintrin.h
.tools/lib/clang/15.0.6/include/prfchwintrin.h
.tools/lib/clang/15.0.6/include/ptwriteintrin.h
.tools/lib/clang/15.0.6/include/rdpruintrin.h
.tools/lib/clang/15.0.6/include/rdseedintrin.h
.tools/lib/clang/15.0.6/include/riscv_vector.h
.tools/lib/clang/15.0.6/include/rtmintrin.h
.tools/lib/clang/15.0.6/include/s390intrin.h
.tools/lib/clang/15.0.6/include/serializeintrin.h
.tools/lib/clang/15.0.6/include/sgxintrin.h
.tools/lib/clang/15.0.6/include/shaintrin.h
.tools/lib/clang/15.0.6/include/smmintrin.h
.tools/lib/clang/15.0.6/include/stdalign.h
.tools/lib/clang/15.0.6/include/stdarg.h
.tools/lib/clang/15.0.6/include/stdatomic.h
.tools/lib/clang/15.0.6/include/stdbool.h
.tools/lib/clang/15.0.6/include/stddef.h
.tools/lib/clang/15.0.6/include/stdint.h
.tools/lib/clang/15.0.6/include/stdnoreturn.h
.tools/lib/clang/15.0.6/include/tbmintrin.h
.tools/lib/clang/15.0.6/include/tgmath.h
.tools/lib/clang/15.0.6/include/tmmintrin.h
.tools/lib/clang/15.0.6/include/tsxldtrkintrin.h
.tools/lib/clang/15.0.6/include/uintrintrin.h
.tools/lib/clang/15.0.6/include/unwind.h
.tools/lib/clang/15.0.6/include/vadefs.h
.tools/lib/clang/15.0.6/include/vaesintrin.h
.tools/lib/clang/15.0.6/include/varargs.h
.tools/lib/clang/15.0.6/include/vecintrin.h
.tools/lib/clang/15.0.6/include/velintrin_approx.h
.tools/lib/clang/15.0.6/include/velintrin_gen.h
.tools/lib/clang/15.0.6/include/velintrin.h
.tools/lib/clang/15.0.6/include/vpclmulqdqintrin.h
.tools/lib/clang/15.0.6/include/waitpkgintrin.h
.tools/lib/clang/15.0.6/include/wasm_simd128.h
.tools/lib/clang/15.0.6/include/wbnoinvdintrin.h
.tools/lib/clang/15.0.6/include/wmmintrin.h
.tools/lib/clang/15.0.6/include/x86gprintrin.h
.tools/lib/clang/15.0.6/include/x86intrin.h
.tools/lib/clang/15.0.6/include/xmmintrin.h
.tools/lib/clang/15.0.6/include/xopintrin.h
.tools/lib/clang/15.0.6/include/xsavecintrin.h
.tools/lib/clang/15.0.6/include/xsaveintrin.h
.tools/lib/clang/15.0.6/include/xsaveoptintrin.h
.tools/lib/clang/15.0.6/include/xsavesintrin.h
.tools/lib/clang/15.0.6/include/xtestintrin.h
.tools/lib/clang/15.0.6/include/cuda_wrappers/algorithm
.tools/lib/clang/15.0.6/include/cuda_wrappers/complex
.tools/lib/clang/15.0.6/include/cuda_wrappers/new
.tools/lib/clang/15.0.6/include/hlsl/hlsl_basic_types.h
.tools/lib/clang/15.0.6/include/hlsl/hlsl_intrinsics.h
.tools/lib/clang/15.0.6/include/openmp_wrappers/__clang_openmp_device_functions.h
.tools/lib/clang/15.0.6/include/openmp_wrappers/cmath
.tools/lib/clang/15.0.6/include/openmp_wrappers/complex
.tools/lib/clang/15.0.6/include/openmp_wrappers/complex_cmath.h
.tools/lib/clang/15.0.6/include/openmp_wrappers/complex.h
.tools/lib/clang/15.0.6/include/openmp_wrappers/math.h
.tools/lib/clang/15.0.6/include/openmp_wrappers/new
.tools/lib/clang/15.0.6/include/ppc_wrappers/bmi2intrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/bmiintrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/emmintrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/immintrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/mm_malloc.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/mmintrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/pmmintrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/smmintrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/tmmintrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/x86gprintrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/x86intrin.h
.tools/lib/clang/15.0.6/include/ppc_wrappers/xmmintrin.h
.tools/man/man1/ccmake.1
.tools/man/man1/cmake-gui.1
.tools/man/man1/cmake.1
.tools/man/man1/cpack.1
.tools/man/man1/ctest.1
.tools/man/man7/cmake-buildsystem.7
.tools/man/man7/cmake-commands.7
.tools/man/man7/cmake-compile-features.7
.tools/man/man7/cmake-developer.7
.tools/man/man7/cmake-env-variables.7
.tools/man/man7/cmake-file-api.7
.tools/man/man7/cmake-generator-expressions.7
.tools/man/man7/cmake-generators.7
.tools/man/man7/cmake-language.7
.tools/man/man7/cmake-modules.7
.tools/man/man7/cmake-packages.7
.tools/man/man7/cmake-policies.7
.tools/man/man7/cmake-presets.7
.tools/man/man7/cmake-properties.7
.tools/man/man7/cmake-qt.7
.tools/man/man7/cmake-server.7
.tools/man/man7/cmake-toolchains.7
.tools/man/man7/cmake-variables.7
.tools/man/man7/cpack-generators.7
.tools/share/aclocal/cmake.m4
.tools/share/applications/cmake-gui.desktop
.tools/share/bash-completion/completions/cpack
.tools/share/bash-completion/completions/ctest
.tools/share/emacs/site-lisp/cmake-mode.el
.tools/share/icons/hicolor/128x128/apps/CMakeSetup.png
.tools/share/icons/hicolor/32x32/apps/CMakeSetup.png
.tools/share/mime/packages/cmakecache.xml
.tools/share/vim/vimfiles/indent/cmake.vim
.tools/share/vim/vimfiles/syntax/cmake.vim
