# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
chud.log

# Directories
node_modules
vcpkg
bazel*
dump.txt
Makefile
lcov.info
report
.cache
.history
.trunk
.venv
.args
build
clangd
cmake
config
coverage
logs
out
**/*.c.s
**/*.gcda
**/*.gcno
**/*.s
**/*.i
**/*.o
**/*.
**/*tests/*.
src/rexo
gh
.~*
callgrind.out.*
