[submodule ".deps/vcpkg"]
	path = .deps/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule ".deps/rexo"]
	path = .deps/rexo
	url = https://github.com/default-writer/rexo.git
[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule ".deps/raylib"]
	path = .deps/raylib
	url = https://github.com/raysan5/raylib.git
